Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Tensorflow
4. Pytorch
5. Saeborn
6. Keras
7.  Matplotlib
8. Scikitlib

|Data Science Tools|
|------------------|
|Juypter Notebooks|
|R Studio|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

**Objectives:**
1. Commonly used libraries in Data Science
2. Popular Languages for Data Science
3. Data Scince tools
4. Simple examples of arithmetic expressions

## Author
Jeffrey D. Bane